version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/actions/*"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
      timezone: "Asia/Tokyo"
    groups:
      workflow:
        patterns:
          - "*"
    assignees:
      - "krymtkts"
  # Maintain dependencies for NuGet
  - package-ecosystem: "nuget"
    # NOTE: dependabot raises dependency_file_not_found error with root directory.
    # NOTE: directories can use glob patterns.
    directories:
      - "src/SnippetPredictor*"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
      timezone: "Asia/Tokyo"
    groups:
      powershell-sdk:
        patterns:
          - "Microsoft.PowerShell.SDK"
        update-types:
          - "patch"
    ignore:
      - dependency-name: "Microsoft.PowerShell.SDK"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
    assignees:
      - "krymtkts"
