version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/actions/*"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
      timezone: "Asia/Tokyo"
    groups:
      workflow:
        patterns:
          - "*"
  # Maintain dependencies for NuGet
  - package-ecosystem: "nuget"
    # NOTE: dependabot raises dependency_file_not_found error with root directory.
    # NOTE: directories can use glob patterns.
    directories:
      - "/"
      - "/.config"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
      timezone: "Asia/Tokyo"
    groups:
      dotnet-tools:
        patterns:
          - "fantomas"
          - "coverlet.console"
          - "dotnet-reportgenerator-globaltool"
          - "fsharp-analyzers"
          - "Ionide.Analyzers"
      test:
        patterns:
          - "Expecto"
          - "YoloDev.Expecto.TestSdk"
          - "Microsoft.Management.Infrastructure"
      powershell-sdk:
        patterns:
          - "Microsoft.PowerShell.SDK"
        update-types:
          - "patch"
    ignore:
      - dependency-name: "Microsoft.PowerShell.SDK"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "FSharp.Core"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
          - "version-update:semver-patch"
